{% extends 'navbar.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

{% block content %}
<div class="container my-5 py-5 shadow-lg text-center">
  <div class="card shadow-lg">
    <div class="card-body">
      <h2 class="mb-4">Contact Us</h2>
      <p class="mb-3 text-muted">We’d love to hear from you. Please call us with any questions or to schedule an appointment.</p>
      <h4 class="fw-bold text-primary">
        <a href="tel:9166170252" class="text-decoration-none text-primary">916-617-0252</a>
      </h4>
    </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock %}
